* {
    font-family: 'Consolas';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: inherit;
    
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 40px;
    background-color: #c8c8c8;   
}

#shadedarea {
  width: 5%;
  height: 100%;
}

#shadedarea:hover {
  background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));
}