html {
    font-size: 10px;
}

body {
    background: #000000;
    font-family: 'helvetica neue';
    font-weight: 300;
    font-size: 24px;
}

.convo-wrapper {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
}

.message-bubble {
    background-color: #313131;
    border-radius: 20px;
    box-shadow: 6px 6px 5px black;
    padding: 0px 8px 0px 8px;
    margin-bottom: 10px;
    max-width: 60%;
    color: white;
}

.input {
    align-self: flex-end;
    background-color: #178bff;
}

.response {
    align-self: flex-start;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: inherit;
    
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 40px;
    background-color: #313131;   
}


/* #speakButton {
    position:fixed;
    top: -2px;
    right: -2px;
    height: 150px;
    width: 150px;
    border-radius: 0 0 0 150px;
    -moz-border-radius: 0 0 0 150px;
    -webkit-border-radius: 0 0 0 150px;
    background: darkgrey;
    border-color: darkgrey;
}

.blinking {
    transform: translateY(-15%) translateX(15%);
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite; 
}

@keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
@-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
  
@-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
@-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
  
@-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
} */