<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Assistant</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body style="background-color: #343a40;">
    <!-- settings button -->
    <button id="settings-btn" type="button" style='background-color: #343a40;' class="btn btn-lg position-fixed top-0 end-0" data-bs-toggle="modal" data-bs-target="#settings">
        <i class="bi bi-gear" id="settings-icon" style="color: #c8c8c8"></i>
    </button>

    <!-- main container -->
    <div class="d-flex justify-content-center">
        <!-- conversation -->
        <div id="convo" class="container mx-auto my-5" style="width: 100%"></div>
        <div class="position-fixed bottom-0 start-50 translate-middle-x pb-3" style="width:70%;">
            <div class="input-group">
                <textarea id="textarea" placeholder="Send a message..." class="form-control" style="height: 45px; resize: none; overflow-y:hidden;"></textarea>
                <!-- <button class="btn btn-secondary" type="button" style="background-color: #343a40;">
                    <svg width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" style="color: #c8c8c8">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button> -->
                <button id="submitButton" class="btn btn-secondary" type="button" style="background-color: #343a40;" style="color: #c8c8c8">
                    <svg width="24" height="24" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- how to guide modal -->
    <div class="modal fade" id="howTo" aria-hidden="true">
        <div class="modal-xl modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3">User Guide</h1> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Keywords</th>
                                <th scope="col">Example</th>
                                <th scope="col">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Type a Question / Instruction</td>
                                <td>"<i>your question?</i>" or "<i>do something</i>"</td>
                                <td>"Describe the Earth in 5 words."</td>
                                <td>You can use the submit button or simply press <kbd>Enter</kbd> to submit your input. Also, you can use <kbd><kbd>Shift</kbd> + <kbd>Enter</kbd></kbd> to return to the next line.</td>
                            </tr>
                            <tr>
                                <td>Speak a Question / Instruction</td>
                                <td>Say: "<i>Assistant Name</i>" followed by: "<i>your input</i>"</td>
                                <td>"Jarvis, can humans eat grass?"</td>
                                <td>To speak an input, just say the assistant name outloud followed by your question or instruction.</td>
                            </tr>
                            <tr>
                                <td>Daily Report</td>
                                <td>"good morning" or "gm"</td>
                                <td>"Good morning!"</td>
                                <td>A great way to start the day!</td>
                            </tr>
                            <tr>
                                <td>Launch Spotify</td>
                                <td>"on Spotify"</td>
                                <td>"Play Start Me Up by The Rolling Stones on Spotify."</td>
                                <td>Will not work albums, artists, or playlists... for now.</td>
                            </tr>
                            <tr>
                                <td>Current Weather</td>
                                <td>"weather"</td>
                                <td>"What's the weather like today?"</td>
                                <td>Limited to users in the USA.</td>
                            </tr>
                            <tr>
                                <td>Weather of Location in USA</td>
                                <td>"weather of <i>City</i>"</td>
                                <td>"weather in New York City?"</td>
                                <td>Limited to named locations in the USA.</td>
                            </tr>
                            <tr>
                                <td>Summarize Article</td>
                                <td>"summarize this: <i>https://linktoarticle.com</i>"</td>
                                <td>"Can you summarize this article in 1 paragraph? https://www.bbc.com/future/article/20220927-italys-plan-to-save-venice-from-sinking"</td>
                                <td>Simply paste the link of the article into your input. Ask follow-up questions after the summary! Can only summarize 1 article at a time.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="fs-3">Capabilities</div>
                    <ul>
                        <li>Remember messages from earlier in the converstion.</li>
                        <li>Customizable name and personality.</li>
                        <li>Can understand and speak 14 different languages.</li>
                        <li>And much more!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- settings modal -->
    <div class="modal fade" id="settings" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 label" id="modalLabel">Settings</h1>
            <button class="btn btn-primary ms-3 label" data-bs-toggle="modal" data-bs-target="#howTo">User Guide</button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <div class="fs-5 label">Access</div>
                <hr>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="allowMic">
                    <label class="form-check-label label" for="flexSwitchCheckDefault">Microphone</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="allowSpeakers">
                    <label class="form-check-label label" for="flexSwitchCheckDefault">Sound</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="spotifyDesktop">
                    <label class="form-check-label label" for="flexSwitchCheckDefault">Spotify Desktop</label>
                </div>
                <hr>
                <div class="fs-5 label">Preferences</div>
                <hr>
                <div class="form-group" id="names">
                    <label class="label">Assistant Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="Jarvis">
                </div>
                <div class="form-group" id="roles">
                    <label class="label">Assistant Personality</label>
                    <select id="role" class="form-select">
                        <option class="label" value="general">Well-Rounded</option>
                        <option class="label" value="coder">Software Developer</option>
                        <option class="label" value="poet">Poet</option>
                        <option class="label" value="brief">Short 'n Sweet</option>
                        <option class="label" value="elaborator">Elaborator</option>
                    </select>
                </div>
                <div class="form-group" id="languages">
                    <label class="label">Language</label>
                    <select id="language" class="form-select">
                        <!-- <option class="label" value="ar">Arabic</option> -->
                        <option class="label" value="bn">Bengali</option>
                        <option class="label" value="en" selected>English</option>
                        <option class="label" value="fr">French</option>
                        <option class="label" value="de">German</option>
                        <option class="label" value="hi">Hindi</option>
                        <option class="label" value="id">Indonesian</option>
                        <option class="label" value="it">Italian</option>
                        <option class="label" value="ja">Japanese</option>
                        <option class="label" value="zh">Mandarin</option>
                        <option class="label" value="pt">Portuguese</option>
                        <!-- <option class="label" value="pa">Punjabi</option> -->
                        <option class="label" value="ru">Russian</option>
                        <option class="label" value="es">Spanish</option>
                        <option class="label" value="tr">Turkish</option>
                        <option class="label" value="vi">Vietnamese</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label">Voice Gender</label>
                    <select id="gender" class="form-select">
                        <option class="label" value="female">Female</option>
                        <option class="label" value="male" selected>Male</option>
                    </select>
                </div>
                <br>
                <label class="label">Manners</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="ma'am">
                    <label class="form-check-label label" for="flexRadioDefault1">
                        Madam
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="sir">
                    <label class="form-check-label label" for="flexRadioDefault2">
                        Sir
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="noPref" checked>
                    <label class="form-check-label label" for="flexRadioDefault2">
                        None
                    </label>
                  </div>
                <hr>
                <div class="fs-5 label">Colors</div>
                <hr>
                <div class="form-check form-check-inline m-3">
                    <input class="form-control-color" type="color" id="responseBubble" value="#6c757d" title="Choose a color">
                    <label class="form-label align-bottom label">Response Messages</label>
                </div>
                <div class="form-check form-check-inline m-3">
                    <input class="form-control-color" type="color" id="responseText" value="#ffffff" title="Choose a color">
                    <label class="form-label align-bottom label">Response Text</label>
                </div>
                <div class="form-check form-check-inline m-3">
                    <input class="form-control-color" type="color" id="myBubble" value="#0d6efd" title="Choose a color">
                    <label class="form-label align-bottom label">My Messages</label>
                </div>
                <div class="form-check form-check-inline m-3">
                    <input class="form-control-color" type="color" id="myText" value="#ffffff" title="Choose a color">
                    <label class="form-label align-bottom label">My Text</label>
                </div>
                <div class="form-check form-check-inline m-3">
                    <input class="form-control-color" type="color" id="bgColor" value="#343a40" title="Choose a color">
                    <label class="form-label align-bottom label">Background</label>
                </div>
                <button type="button" class="btn btn-primary m-3 label" onclick="revertDefault()">Default Colors</button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary label" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary label" data-bs-dismiss="modal" onclick="updateSettings()">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='my.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>